@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: repeating-conic-gradient(#ffde97, #ff0000, #04efc4);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

.container {
    min-width: 900px;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px 20px;
    gap: 40px;
}

.button {
    padding: 5px 10px;
    background: cornflowerblue;
    border-style: none;
    border-radius: 15px;
    color: lavenderblush;
    font-size: 20px;
    transition: 0.4s;
    box-sizing: border-box;
}

.delete_button {
    padding: 5px 10px;
    background: orangered;
    border-style: none;
    border-radius: 10px;
    transition: 0.4s;
    font-weight: bolder;
}

.button:hover {
    background-color: #0000da;
    transform: scale(105%);
    cursor: pointer;
}

.delete_button:hover {
    background-color: red;
    transform: scale(105%);
    cursor: pointer;
}

.task_input {
    width: 300px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.todo_list {
    border-radius: 40px;
    min-width: 350px;
    background: white;
    min-height: 500px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkbox {
    height: 15px;
}

.checked {
    text-decoration: line-through;
}

form {
    display: flex;
    gap: 40px;
}

.flex {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    font-size: 1em;
    padding: 10px 30px;
    background: blanchedalmond;
    border-radius: 40px;
    box-sizing: border-box;
}

/*ul {*/
/*    list-style-type: none;*/
/*}*/
